* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}


ul {
    list-style-type: none;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header ul li{
    margin-right: 20px;
}
.icon-gris {
    filter: grayscale(100%); /* Aplica el filtro de escala de grises al 100% */
}

header img.perfil{
    height: 50px;
    border-radius: 50%;
}


main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.btn-buscador {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar una sombra */
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

#input-buscador {
    outline: none;
    border: none;
    width: 400px;
}

.Botoones {
    border: none;
    background-color: rgb(215, 244, 163);
    border-radius: 5px;
    margin: 11px 4px;
    padding: 10px 20px;
    cursor: pointer;
}
.icon-buscador {
        /*
    usamos display inline block porque queremos que estén pegaditos la parte de inline y block para que las propiedades de width y heigth sigan haciend efecto y hagn mi icono pequeño
    */
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 8px;
}


footer {
    height: auto;
    background: linear-gradient(#f3f5e1, #CCD5AE);
    /* Crea un degradado */
    padding: 20px 0;
    text-align: center;
   
}

footer section{
    display: flex;
    
   
    padding: 0 20px;
    align-items: center;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin: 10px 12px;
}

footer ul li {
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    margin:  0;
    display: inline;
    justify-content: space-between;
    padding: 15px;
    
}
footer ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.2s;
}
footer ul li a:hover {
    color: #305f00;
}
footer section:last-child ul li {
    text-align: right;
}
footer section:first-child ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 0px;
    text-align: right;
}








/*

main {
    height: ;
}

align text

float

unidades de medida



*/